/* Filename : common.css */

#full{
	position:fixed;
	top:54px;
	left:96px;
	width:1740px;
	height:825px;
}

#img_human{
	
	width:800px;
	height:500px;
}

#img_star{
	
	width:500px;
	height:500px;
}

#right{
	
	
	width:1740px;
	height:500px;
}




