<!DOCTYPE html>
<html>
 <head>
   <title>KT맵 JavaScript API v3 Example: Map Simple</title>
   <meta charset="utf-8" />
   <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
   <style type="text/css">
     html { height: 100% }
     body { height: 100%; margin: 0; padding: 0 }
     #map_div { width: 100%; height: 100%; }
   </style>
   <script type="text/javascript"
     src="https://gis.kt.com/maps/v3.0/sdk.js?key=642dd03a4712cef8bb36de4d06f8dd86565a738470cb4c697fa6cbcff6f8c65c6a66b0c4">
   </script>
   <script type="text/javascript" src="../ static/js/gis.js"></script>
 </head>
 <body>
    <button id="find" onclick="getData()"> 미용실 찾기 </button>
    <div id="map_div">

   </div>
 </body>
</html>
