<!DOCTYPE html>
<html>


<head>

<meta charset="UTF-8">

<title>헤어스타일 추천</title>
<meta name="viewport"
	content="height=device-height, width=device-width, initial-scale=1">

<link rel="stylesheet" href="../static/css/bootstrap.css">



<style type="text/css">
@FONT-FACE {
	font-family: 'BMJUA_ttf';
	src: url("../static/font/BMJUA_ttf.ttf");
}

body {
	font-family: 'BMJUA_ttf';
	background-image: url('../static/img/bgimg.jpg');
	background-repeat: no-repeat; /* 반복 안함 */
	background-size: cover;
}

#full {
	width: 98vw;
	height: 96vh;
	background-color: rgba(255, 255, 255, 0.6);
	padding: 1vw;
	text-align: center;
	vertical-align: middle;
	border-radius: 20px;
}

#img_human {
	width: 60%;
	height: 100%;
}

#img_star {
	width: 40%;
	height: 100%;
}

#right {
	text-align: center;
	width: 90%;
	height: 100%;
	border: 0.5px;
	margin-left: 1vw;
}

.layer {
	/* position: absolute; */
	text-align: center;
	width: 100vw;
	height: 100vh;
	padding: 1vw;
}
</style>

<script>
function print(name){
	document.getElementById("star_name").innerHTML=name;
}

function set_warm(num){
	
	document.getElementById("warm_chart").style.width=num+'%';
	
	
}

function init(){ //김태희 있는 곳에 이름 넣으면 그 이름으로 뜹니다
	print("{{celebName}}");
	set_warm({{warm}});
}

window.onload = init;

</script>

</head>



<body>

	<div class="layer">
		<div id="full"
			style="white-space: nowrap; overflow-x: hidden; overflow-y: hidden;">

			<div style="width: 100%; height: 40px;"></div>


			<div
				style="position: fixed; top: 30px; left: 1500px; text-align: right; height: 30px;">
				<a href="main.html"> <img src="img/house.png"
					style="width: 30px; height: 30px">
				</a>
			</div>

			<table style="border: 0.5px; width: 100%; height: 60%;">

				<tr>

					<td style="width: 65%;">



						<table style="border: 0.5px; width: 100%; height: 100%;">
							<tr>
								<td></td>
								<td style="height: 5%;">{{shape}} 얼굴을 가진 연예인</td>
							</tr>

							<tr>
								<td style="border: 0.5px; width: 60%; height: 100%;"><img
									id="img_human" style="width: 60%; height: 60%;"
									src="../static/img/{{imageName}}" alt="사람" /></td>
								<td><img id="img_star" style="width: 100%; height: 500px;"
									src={{celebSrc}} alt="연예인" /></td>
							</tr>

							<tr style="height: 10%; border: 0.5px;">
								<td>당신은 {{shape}}입니다.</td>
								<td id="star_name" style="text-aling: center;">{{celebName}}</td>
							</tr>


						</table>
					<td>

						<div id="right">

							<div style="height: 40px;"></div>


							<table style="width: 100%; height: 10%;">
								<tr>
									<td id="warm_chart"
										style="background-color: #FAEB78; width: {{warm">warm
										{{warm}}%</td>
									<td id="cool_chart"
										style="background-color: #AADBFF; width: {{cool">cool
										{{cool}}%</td>
								</tr>

							</table>

							<br> <br>

							<pre>

							</pre>

							<button style="width: 50%; height: 5vh;" class="btn btn-danger"
								onclick="location='/findSalon'">미용실예약</button>

							<br> <br>
							<button style="width: 50%; height: 5vh;" class="btn btn-danger"
								onclick="location='/main'">뒤로가기</button>


						</div>
					</td>

				</tr>

			</table>





			<table
				style="border: 2px gray; width: 100%; height: 30%; margin-top: 2%;">



				<tr>


					<td style="width: 55vw;">



						<div
							style="border: 1px gray; white-space: nowrap; overflow-x: auto; overflow-y: hidden; width: 100%; height: 100%;">

							<table>
								<tr>
									<td colspan="4" style="text-align: center; height: 15%;">추천
										헤어스타일</td>
								</tr>


								<tr>
									<td><img id="img_hair" style="width: 100%; height: 250px;"
										src={{hairList[0]}} alt="추천 머리1" /></td>

									<td><img id="img_hair" style="width: 100%; height: 250px;"
										src={{hairList[1]}} alt="추천 머리2" /></td>

									<td><img id="img_hair" style="width: 100%; height: 250px;"
										src={{hairList[2]}} alt="추천 머리3" /></td>

									<td><img id="img_hair" style="width: 100%; height: 250px;"
										src={{hairList[3]}} alt="추천 머리4" /></td>

								</tr>

							</table>

						</div>
					</td>
					<td>
						<div id="recommend"
							style="border: 1px gray; white-space: nowrap; overflow-x: auto; overflow-y: hidden; width: 100%; height: 100%; margin-left: 30px; padding-right: 3vw;">

							<table style="border: 1px; width: 100%; height: 100%;">
								<tr>
									<td colspan="5" style="text-align: center; height: 10%;">추천
										머리색</td>
								</tr>
								<tr>
									<td style="background-color: {{colorList[0][1]"></td>
									<td style="background-color: {{colorList[1][1]"></td>
									<td style="background-color: {{colorList[2][1]"></td>
									<td style="background-color: {{colorList[3][1]"></td>
									<td style="background-color: {{colorList[4][1]"></td>
								</tr>
								<tr style="height: 25%;">
									<td style="width: 20%; overflow: hidden;">{{colorList[0][0]}}</td>
									<td style="width: 20%; overflow: hidden;">{{colorList[1][0]}}</td>
									<td style="width: 20%; overflow: hidden;">{{colorList[2][0]}}</td>
									<td style="width: 20%; overflow: hidden;">{{colorList[3][0]}}</td>
									<td style="width: 20%; overflow: hidden;">{{colorList[4][0]}}</td>

								</tr>
							</table>
						</div>


					</td>



				</tr>



			</table>

			<!--
			<div
				style="border: solid 2px navy; white-space: nowrap; overflow-x: auto; overflow-y: hidden; width: 100%; height: 13vh;">
			</div>
			<div
				style="border: solid 2px navy; white-space: nowrap; overflow-x: auto; overflow-y: hidden; width: 100%; height: 13vh;">
				<table>

					<tr>

					</tr>

				</table>
			</div>

-->
		</div>
		<!-- full -->
	</div>

	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script type="text/javascript" src="../static/js/bootstrap.js"></script>

</body>



</html>
