<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>예약하기</title>


<meta name="viewport"
	content="height=device-height, width=device-width, initial-scale=1">
<link rel="stylesheet" href="../static/css/bootstrap.css">
<style>
@FONT-FACE {
	font-family: 'BMJUA_ttf';
	src: url("../static/font/BMJUA_ttf.ttf");
}

body {
	background-image: url('../static/img/bgimg.jpg');
	background-repeat: no-repeat; /* 반복 안함 */
	background-size: cover;
	font-family: 'BMJUA_ttf';
}

#full {
	width: 98vw;
	height: 96vh;
	background-color: rgba(255, 255, 255, 0.6);
	margin: 1vw;
	padding: 2vw;
	text-align: center;
	vertical-align: middle;
	border-radius: 20px;
}

#full span {
	font-size: 40px;
}

#full div {
	margin: 2vw;
	font-size: 32px;
}

#button {
	font-size: 50px;
}
</style>

<script>
	function initialize() {
		var temp = location.href.split("?");
		var s_name = decodeURIComponent(temp[1]);
		document.getElementById("salon_name").value = s_name;
	}
	window.onload = initialize;

	function inputPhoneNumber(obj) {

		var number = obj.value.replace(/[^0-9]/g, "");
		var phone = "";

		if (number.length < 4) {
			return number;
		} else if (number.length < 7) {
			phone += number.substr(0, 3);
			phone += "-";
			phone += number.substr(3);
		} else if (number.length < 11) {
			phone += number.substr(0, 3);
			phone += "-";
			phone += number.substr(3, 3);
			phone += "-";
			phone += number.substr(6);
		} else {
			phone += number.substr(0, 3);
			phone += "-";
			phone += number.substr(3, 4);
			phone += "-";
			phone += number.substr(7);
		}
		obj.value = phone;
	}

	function func_submit() {

		var rq = getXMLHttpRequest();
		rq.open("POST", "http://211.254.215.243:18070/reservation", true);
		var str = '{"salon":"' + document.info_form.elements[0].value
				+ '","name":"' + document.info_form.elements[1].value
				+ '","day":"' + document.info_form.elements[2].value
				+ '","time":"' + document.info_form.elements[3].value
				+ '","phone":"' + document.info_form.elements[4].value + '"}';
		rq.send(str);

		rq.onreadystatechange = callback;

		var str = document.info_form.elements[1].value + "고객님 "
				+ document.info_form.elements[0].value + " "
				+ document.info_form.elements[2].value + " "
				+ document.info_form.elements[3].value + "으로 예약되셨습니다.";

	}

	function callback() {

		if (rq.readyState == 4 && rq.status == 200) {

			alert(rq.responseText);
		} else {

			alert("잠시 후에 다시 예약해주시기 바랍니다.");
		}

	}
</script>
</head>
<body>
	<div id="full">

		<div
			style="position: fixed; top: 30px; left: 1500px; text-align: right; height: 30px;">
			<a href="main.html"> <img src="../static/img/house.png"
				style="width: 30px; height: 30px">
			</a>
		</div>

		<span>예약창</span>

		<form id="form_info" action="/reservation" method="POST"
			enctype="application/x-www-form-urlencoded">
			<table style="width: 90vw; height: 60vh; vertical-align: top;">
				<tr>
					<td style="width: 30%;"></td>
					<td style="text-align: left; width: 20%;">

						<div id="salon">미용실 :</div>
						<div>이름 :</div>
						<div>날짜 :</div>
						<div>시간 :</div>
						<div>휴대폰번호 :</div>
					</td>
					<td style="text-align: left;">
						<div id="salon">
							<input name="salon" type="text" value="지니살롱" readonly>
						</div>
						<div>
							<input name="name" type="text" required>
						</div>
						<div>
							<input name="day" type="date" required>
						</div>
						<div>
							<input name="time" type="time" required>
						</div>
						<div>
							<input name="phone" type="text" onKeyup="inputPhoneNumber(this);"
								maxlength="13" required>
						</div>
					</td>
				</tr>
			</table>
			<div id="button">

				<button type="button" class="btn btn-danger"
					onclick="location='findSalon.html'">취소</button>

				&nbsp;&nbsp;&nbsp;&nbsp;

				<button type="submit" class="btn btn-danger">완료</button>


			</div>
		</form>

	</div>

	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script type="text/javascript" src="../static/js/bootstrap.js"></script>


</body>
</html>
